.App,
body {
  background-image: url("./assets/bear-deer-mountains-sunrise-minimalism-artwork-4k_1540751508.jpg");
  background-size: cover;
  height: 100%;
}

div.container p {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 75px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about-text {
  color: white;
}
.header {
  text-align: center;
  padding: 10px;
}

.footer {
  text-align: center;
}
