.App,
body {
  background-image: url("./assets/bear-deer-mountains-sunrise-minimalism-artwork-4k_1540751508.jpg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
.name-text {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 4vw;
  text-align: center;
}
.about-text {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
}
.header {
  font-size: 20px;
  text-align: center;
  padding: 30px;
  position: fixed;
}

.headerLink {
  color: white;
}

.headerLink:hover {
  color: red;
  text-decoration: none;
}

.footIcons {
  padding-left: 30px;
  padding-right: 30px;
  padding: 30px;
}
.headerLink {
  padding-left: 30px;
  padding-right: 30px;
  padding: 30px;
}
.footer {
  text-align: center;
  padding: 30px;
}
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit.active {
  opacity: 0;
  transition: opacity 150ms linear;
}

#navbarNav {
  color: white;
}

.projectLayout {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
}
.studentReg {
  height: 18vw;
}

#projectsGrid {
  text-align: center;
  color: white;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
