html {
  background-image: url("./assets/bear-deer-mountains-sunrise-minimalism-artwork-4k_1540751508.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.header {
  background-color: black;
  text-align: center;
}

.footer {
  background-color: blue;
  text-align: center;
}
